Repository antoncarlsson/antoncarlsson.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Removed unused files. Changed filetype to JSX. Removed unnecessary information in Gatsby's config and updated the information.
  .eslintrc
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Footer.jsx
  src/components/Header.jsx
  src/components/header.js
  src/components/image.js
  src/components/layout.css
  src/components/layout.js
  src/components/layout.jsx
  src/components/seo.jsx
  src/images/gatsby-astronaut.png
  src/images/gatsby-icon.png
  src/pages/404.jsx
  src/pages/index.js
  src/pages/index.jsx
  src/pages/page-2.js
Due: eslint --fix, prettier --write

Removed Gatsby's default README.
  README.md
Due: prettier --write

Moved the GitHub action to the correct folder.
  .github/workflows/main.yml
Due: none

Updated Gatsby.
  package-lock.json
  package.json
Due: none

Added Chakra-UI components to the 404 page.
  src/pages/404.jsx
Due: eslint --fix, prettier --write

Updated the workflow with names for the jobs and changed the working branch to develop.
  .github/workflows/main.yml
Due: none

Added a 'gatsby' script to be able to build the site while using npm.
  package.json
Due: none

Added missing import.
  src/pages/404.jsx
Due: eslint --fix, prettier --write

Updated packages.
  package-lock.json
  package.json
Due: none

Updated README.
  README.md
Due: prettier --write

Removed the now unused GitHub Action.
  .github/workflows/main.yml
Due: none

Updated the start page.
  cypress/integration/spec.js
  src/routes/index.svelte
Due: eslint --fix, prettier --write

Added a new action
  .github/workflows/main.yml
Due: none

Fixed the version of the action
  .github/workflows/main.yml
Due: none

Updated the action
  .github/workflows/main.yml
Due: none

Changed checkout action from v1 to master
  .github/workflows/main.yml
Due: none

Changed the version of the action
  .github/workflows/main.yml
Due: none

Updated the version of the action
  .github/workflows/main.yml
Due: none

Updated the workflow with the new action version.
  .github/workflows/main.yml
Due: none

Updated the Sapper Publish action version.
  .github/workflows/main.yml
Due: none

Fixed variable name and updated action version.
  .github/workflows/main.yml
Due: none

Publish example project and writing
  apps/web/content/blog/interactive-notes.mdx
  apps/web/content/blog/markdown-notes.md
  apps/web/content/projects/first-project.md
Due: prettier --write

Remove draft markers from example project and writing
  apps/web/content/blog/interactive-notes.mdx
  apps/web/content/blog/markdown-notes.md
  apps/web/content/projects/first-project.md
Due: prettier --write

Add Husky pre-push checks
  .husky/pre-push
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Run E2E checks before push without content-specific assertions
  .husky/pre-push
  README.md
  apps/web/playwright.config.ts
  apps/web/tests/e2e/site.spec.ts
Due: prettier --write

Use free ports for local E2E checks
  README.md
  package.json
  scripts/run-e2e.mjs
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: any of: *.{js,jsx,md}
